header{
height: 75px;
background-image: linear-gradient(to right, #F58D43 0%, #E64159 10%, #1E1E51 55%, black 500%);
}
}
section{
  display: block;
}

body{
  margin: 0;
  padding: 0;
  background-image: url("./FUT.jpg")
}

.justesse{
  color: white;
}

.text{
  color: white;
  text-align: justify;
}

.FIFA18{
  width: 250px;
}

.Base{
display: flex;
 justify-content: flex-end;
 text-align: justify;
 margin-left: 10px;
 margin-right: 10px;
 font-size: 30px;
}

.Base2{
  text-decoration: none;
  color: white;
}

.space{
  padding: 30px;
  width: 500px;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: center;
}



.photo>img{
  max-width: 500px;
  flex-direction: row-reverse;
}

.justesse{
  padding: 75px;
}
